@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
    box-sizing:border-box;
}


body{
    margin:0;
    overflow-x: hidden;
    font-family: Lato, sans-serif;
    color:#54575A;
    background:linear-gradient(180deg, #fff 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);
}

.wrapper{
    position: relative;
    /* width:1440px;
    min-height: 100vh; */
    margin: auto;

    height: 1388px;
    width: 1440px;

    /* background-color: dodgerblue; */
}

.title{
    position:absolute;
    width: 458px;
    height: 135px;
    left: 221px;
    top:236px;

    
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 67px;
}

 .brand-img{
    position: absolute;
    height: 47.64px;
    width: 193px;
    left: 221px;
    top: 50.2525634765625px;
    border-radius: 0px;

 }

.text{
    position:absolute;
    width: 394px;
    height: 96px;
    left:221px;
    top:403px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}

.app-store-btn{
    position: absolute;
    height: 46.277523040771484px;
    width: 138.44346618652344px;
    left: 221px;
    top: 531px;
    border-radius: 0px;

}
.app-store-btn img{
    height: 46.277523040771484px;
    width: 138.44346618652344px;
}

.google-play-btn{
    position:absolute;
    height: 46.27737045288086px;
    width: 156.18612670898438px;
    left: 381.8138732910156px;
    top: 531px;
    border-radius: [object Object]px;
}


.google-play-btn img{
    height: 46.27737045288086px;
    width: 156.18612670898438px;
}

.main-image-container{
    position: absolute;
    height: 309.2696533203125px;
    width: 535.7173461914062px;
    left: 683.28271484375px;
    top: 229.7303466796875px;
    border-radius: 0px;
}

.main-image-container img{
    height: 411.15px;
}


.profile-img{
    position: absolute;
    height: 444.0000000000001px;
    width: 224.00000000000006px;
    left: 737.0001220703125px;
    top: 686px;
    border-radius: 0px;
}

.orders-img{
    position: absolute;
    height: 470.0000000000001px;
    width: 224.00000000000006px;
    left: 479px;
    top: 913px;
    border-radius: 0px;
}

.home-img{
    position: absolute;
    height: 470.0000000000001px;
    width: 224.00000000000006px;
    left: 995px;
    top: 908px;
    border-radius: 0px;
}


.cart-img{
    position: absolute;
    height: 222.0000000000001px;
    width: 224.00000000000006px;
    left: 221px;
    top: 1157px;
    border-radius: 0px;
}

.product-img{
    position: absolute;
    height: 222.0000000000001px;
    width: 224.00000000000006px;
    left: 737px;
    top: 1157px;
    border-radius: 0px;
}