@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
    box-sizing:border-box;
}


body{
    margin:0;
    overflow-x: hidden;
    font-family: Lato, sans-serif;
    color:#54575A;
    background:linear-gradient(180deg, #fff 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);
}

.wrapper{
    position: relative;
    /* width:1440px;
    min-height: 100vh; */
    margin: auto;

    height: 1388px;
    width: 1440px;

    /* background-color: dodgerblue; */
}

.title{
    position:absolute;
    width: 458px;
    height: 135px;
    left: 221px;
    top:236px;

    
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 67px;
}

 .brand-img{
    position: absolute;
    height: 47.64px;
    width: 193px;
    left: 221px;
    top: 50.2525634765625px;
    border-radius: 0px;

 }

.text{
    position:absolute;
    width: 394px;
    height: 96px;
    left:221px;
    top:403px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}

.app-store-btn{
    position: absolute;
    height: 46.277523040771484px;
    width: 138.44346618652344px;
    left: 221px;
    top: 531px;
    border-radius: 0px;

}
.app-store-btn img{
    height: 46.277523040771484px;
    width: 138.44346618652344px;
}

.google-play-btn{
    position:absolute;
    height: 46.27737045288086px;
    width: 156.18612670898438px;
    left: 381.8138732910156px;
    top: 531px;
    border-radius: [object Object]px;
}


.google-play-btn img{
    height: 46.27737045288086px;
    width: 156.18612670898438px;
}

.main-image-container{
    position: absolute;
    height: 309.2696533203125px;
    width: 535.7173461914062px;
    left: 683.28271484375px;
    top: 229.7303466796875px;
    border-radius: 0px;
}

.main-image-container img{
    height: 411.15px;
}


.profile-img{
    position: absolute;
    height: 444.0000000000001px;
    width: 224.00000000000006px;
    left: 737.0001220703125px;
    top: 686px;
    border-radius: 0px;
}

.orders-img{
    position: absolute;
    height: 470.0000000000001px;
    width: 224.00000000000006px;
    left: 479px;
    top: 913px;
    border-radius: 0px;
}

.home-img{
    position: absolute;
    height: 470.0000000000001px;
    width: 224.00000000000006px;
    left: 995px;
    top: 908px;
    border-radius: 0px;
}


.cart-img{
    position: absolute;
    height: 222.0000000000001px;
    width: 224.00000000000006px;
    left: 221px;
    top: 1157px;
    border-radius: 0px;
}

.product-img{
    position: absolute;
    height: 222.0000000000001px;
    width: 224.00000000000006px;
    left: 737px;
    top: 1157px;
    border-radius: 0px;
}


/* background Toggles */
.background-toggles{
    position: absolute;
    right: 550px;
    top:70px;
    display: flex;    
}

.background-toggles > div {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 2px 5px 2px rgb(0, 0, 0, 0.3);
    cursor: pointer;
}

/* background */
.background-1{
    background-color: #f2f2f2;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23b8b8b8' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.background-2{
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background-3{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}